<div id="spree-footer" data-swiftype-index='false'>
	<footer id="footer" class="" data-hook>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul class="list-unstyled">
							<li><strong>Serviço ao Consumidor</strong><li>
							<li><a href="/pages/information#shipping-delivery" title="Shipping &amp; Delivery">Transporte e Entrega</a></li>
							<li><a href="/pages/information#returns" title="Returns">Retornos</a></li>
							<li><a href="/pages/information#payment-methods" title="Payment Methods">Formas de Pagamento</a></li>
							<li><a href="/pages/information#warranty" title="Warranty &amp; Crash Replacement">Garantia</a></li>
							<li><a href="/pages/information#faq" title="FAQ">FAQ</a></li>
							<li><a href="/pages/contact" title="Contact Us">Contate-nos</a></li>
						</ul>
					</div>

					<div class="col-sm-4">
						<ul class="list-unstyled">
							<li><strong>Sobre a Gansom</strong><li>
								<li><a href="/pages/about" title="About Us">Sobre Nós</a></li>
								<li><a href="/pages/terms-conditions" title="Terms &amp; Conditions">Termos e Condições</a></li>
								<li><a href="/pages/terms-conditions#privacy" title="Privacy Policy">Política de Privacidade</a></li>
							</ul>
						</div>
					<div class="col-sm-4">

						<strong>Gansom</strong><br>
						<i class="icon-envelope"></i> <a href="mailto:questions@tokyowheel.com">contato@gansom.com</a><br>

						<a href='tel:+18555345070 '><i class="fa fa-phone"></i> Compre por telefone (21) 99437-2128</a><br>

						<address>
							Av. 22 de Maio<br>
							Itaboraí, RJ<br>
							24800-000
						</address>    
					</div>
				</div><!-- end row -->
			</div>
		</footer>
	</footer>
</div><!-- spree-footer -->