<div class='navbar-inverse shipping-bar' >
  <div class='container'>
    <div class="row" id="currency-and-locale-select">
      <div class="col-md-12" id="">
        <span> <a href='http://www.tokyowheel.com/pages/information#shipping-delivery' class=''><i class="fa fa-truck fa-lg"></i> Frete Grátis para Sul e Sudeste</a></span>
      </div>
    </div>
  </div><!-- container -->
</div><!-- shipping-bar -->