<div class="jumbotron jumbotron1">
  <div class="container text-center">
    <div class="col-sm-5">
      <%= image_tag "http://www.acealloywheel.com/images/products/Passion_GMMachined_face.png", id: 'jumbotron1-hero-image', class: "img-responsive", alt: "Tokyowheel Epic 60" %>
    </div>
    <div class="col-sm-7"> 
      <h1>Gansom Rodas</h1>
      <p>Compre Rodas e Acessórios para seu carro das melhores marcas</p>
      <p><a id='index-cta-top'class="btn btn-warning btn-lg" href='/products'>Comprar</a></p>
    </div>
  </div>
</div>

<div class="container">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>

